@import "../../../assets/styles/variables.style";

.cta-btn {
  @include font-sub-title();

  cursor: pointer;
  padding: 7px 45px;

  border: none;
  border-radius: 5px;

  background-color: $color-red-1;
  color: $color-white;

  &:active {
    background-color: $color-red-2;
  }

  &-active {
    background-color: $color-gray-1;

    &:active {
      background-color: $color-gray-0;
    }
  }
}
