@import "../../assets/styles/variables.style";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border-bottom: 1px solid $color-black;

  .text-input {
    margin: 0;
  }
}
