// Colors
$color-white: #fff;
$color-black: #161a1d;

$color-gray-0: #7b7f85;
$color-gray-1: #a6abb1;
$color-gray-2: #d3d3d3;
$color-gray-3: #f3f4f5;

$color-red-1: #d90429;
$color-red-2: #ba181b;

$color-blue: #0085ff;

// Fonts
$font-main: "Roboto", sans-serif;

@mixin ltr-spc {
  letter-spacing: 0.1em;
}

@mixin font-Title {
  @include ltr-spc();

  font-size: 36px;
  font-weight: 700;
}

@mixin font-sub-title {
  @include ltr-spc();

  font-size: 24px;
  font-weight: 700;
}

@mixin font-text {
  @include ltr-spc();

  font-size: 16px;
  font-weight: 400;

  line-height: 22px;
}

@mixin font-text-bold {
  @include font-text();

  font-weight: 700;
}

@mixin font-sub-text {
  @include ltr-spc();

  font-size: 14px;
  font-weight: 400;

  line-height: 18px;
}

@mixin font-sub-text-bold {
  @include font-sub-text();

  font-weight: 700;
}

@mixin font-small-text {
  @include ltr-spc();

  font-size: 12px;
  font-weight: 400;

  line-height: 16px;
}
